#main-nav{
    background-color: red;
    overflow: hidden;
}

#main-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 2rem;
}

#main-nav li{
    text
    
}

#main-nav a{
   
}